# Abaikan folder vendor dan node_modules
/vendor/** linguist-vendored
/node_modules/** linguist-vendored
/assets/js/vendor/** linguist-vendored
/assets/plugins/** linguist-vendored

# Pastikan PHP, HTML, CSS, JS dikenali
*.php linguist-language=PHP
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
